
<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>交大120週年校慶LOGO徵選競賽</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
	  <div class="modal-dialog">
	    <div class="loginmodal-container">
		  <form class="form-signin" method="post" style="padding-top:30px;">
			<h2 class="form-signin-heading" style="font-family:微軟正黑體; font-weight:500; text-align:center; padding-bottom:15px;">登入帳號</h2>
			<input name="account" placeholder="帳號" class="form-control" style="margin-bottom:15px">
			<input type="password" name="password" placeholder="密碼" class="form-control" >
			<button style="margin-top:20px;" class="btn btn-lg btn-info btn-block" type="submit">登入</button>
		  </form>
	    </div>
		<div style="text-align:center; font-size:16px;">請先登入"<a style="color:red;" href = "http://nctu120.nctu.edu.tw//.php">競賽報名</a>"網頁建立帳號密碼後，再登入網頁上傳資料。</div>
	  </div>
    </div>
	
</body></html>